<app-base-page></app-base-page>
<div  class="container">

    <ul>
        <li> Our web application is user friendly and attractive. This web application will be beneficial to patient for booking appointments, medicine prescription and health report.  </li>
         <li> The website will represent all the functionalities that can be performed from Nurse’s and patient’s end.</li>
        <li> With this application, Nurse can add or delete a patient’s account according to his requirements.</li>
        <li> Nurse can generate the appointments for the registered patients. </li>
        <li> Nurse can also reschedule or cancel the appointments for the registered patients on request.</li>
        <li> Nurse can prescribe medicines to patient’s account so that patient does not have to worry about that.</li>
         <li> Patient can log in to the account by unique registration number.</li>
      </ul>

</div>
