<!-- Student ID: 300990555
     Health Care Application
     Description: This html file will display the form of the Login page

-->

<main class="container">
  <div class="row">
      <div class="col-md-offset-4 col-md-4">
          <h1>Please Login</h1>
          <form autocomplete="off" (submit)="onLoginSubmit()">
              <table class="table">
                  <tr>
                    <td>
                        <label for="username">Username:</label>
                    </td>
                    <td>

                  <input type="text" class="form-control"
                  [(ngModel)]="user.username"
                  name="username" placeholder="Enter Username"
                  id="username" required autofocus autocomplete="off">

                  </td>
                  </tr>

                  <tr>
                      <td>
                          <label for="password">Password:</label>
                      </td>
                      <td>


                  <input type="password" class="form-control"
                  [(ngModel)]="user.password"
                  name="password" placeholder="Enter Password"
                  id="password" required autocomplete="off">
                  </td>
                  </tr>

                  <tr>
                      <td>
                          <label for="role">Role:</label>
                      </td>
                      <td>

                    <input type="role" class="form-control"
                    [(ngModel)]="user.role"
                    name="role" placeholder="Enter Role"
                    id="role" required autocomplete="off">
                      </td>
                    </tr>

                  or
                  <a routerLink="/register">Register Here</a>

                  <tr>
                    <td>
                  <input type="submit" class="btn btn-outline-primary" value="Login">

                </td>
                <td>
                  <a routerLink="/home">
                      <input type="button" class="btn btn-outline-danger" value="Cancel">
                  </a>
                </td>
                  </tr>
                </table>
          </form>
      </div>
  </div>
</main>
