<!-- Content for the Edit Page -->
<div class="container">
  <div class="row">
      <div class="col-md-offset-5 col-md-6">
          <h1>{{ title }}</h1>

          <form class="form" (submit)="onVitalsDetailsSubmit()">


              <table class="table">
                  <tr>
                    <td>
                        <label for="HeartRateTextField">Heart Rate</label>
                    </td>
                    <td>



                  <input type="text" class="form-control"
                  id="HeartRateTextField"
                  placeholder="Enter Heart Rate"
                  name="heartrate"
                  [(ngModel)]="vitals.heartrate"
                  value="{{ vitals.heartrate }}"
                  required>


                </td>
              </tr>

              <tr>
              <td>
                  <label for="TempratureTextField">Temprature</label>
              </td>

              <td>


              <input type="text" class="form-control"
              id="TempratureTextField"
              placeholder="Enter Body Temprature"
              name="bodytemprature"
              [(ngModel)]="vitals.bodytemprature"
              value="{{ vitals.bodytemprature }}"
              required>

            </td>
          </tr>

          <tr>
          <td>
              <label for="PressureTextField">Blood Pressure</label>
          </td>

          <td>


              <input type="text" class="form-control"
              id="PressureTextField"
              placeholder="Enter Body Temprature"
              name="bodypressure"
              [(ngModel)]="vitals.bodypressure"
              value="{{ vitals.bodypressure }}"
              required>

            </td>
          </tr>

          <tr>
          <td>
              <label for="RateTextField">Breathing Rate</label>
          </td>

          <td>


                <input type="number" class="form-control"
                id="RateTextField"
                placeholder="Enter Breathning Rate"
                name="rate"
                [(ngModel)]="vitals.breathingrate"
                value="{{ vitals.breathingrate}}"
                required>

              </td>
            </tr>


            <tr>
              <td>
              <button type="submit" class="btn btn-outline-success">
              <i class="fas fa-plus"></i> {{ title }}</button>
            </td>
            <td>
              <a routerLink="/vital/vital-list" class="btn btn-outline-warning">
                  <i class="fas fa-undo"></i> Cancel</a>
                </td>

                  </tr>
                    </table>
          </form>
      </div>
  </div>
</div>
