<!-- Student ID: 300991457
     Health Care Application
     Description: This html file will display the form to book and reschedule the appointment for the patient

-->


<div class="container">
  <div class="row">
      <div class="col-md-offset-3 col-md-6">
          <h1>{{title}}</h1>
          <form class="form" (submit)="onAppointmentDetailsSubmit()">

                  <table class="table">
                      <tr>
                        <td>
                            <label for="patientNumber">Patient Number</label>
                        </td>
                        <td>

                             <input type="text" class="form-control"
                                id="patientNumber"
                                name="patientNumber"
                                value="{{appointment.patientNumber}}"
                                [(ngModel)]="appointment.patientNumber"
                                required>
                        </td>
                        </tr>

                        <tr>
                        <td>
                          <label for="date">Date</label>
                        </td>

                        <td>
                              <input type="text" class="form-control"
                                id="date"
                                name="date"
                                value="{{appointment.date}}"
                                 [(ngModel)]="appointment.date"
                                required>
                        </td>
                        </tr>


                        <tr>
                        <td>
                              <label for="time">Time</label>
                        </td>
                        <td>

                              <input type="text" class="form-control"
                                id="time"
                                name="time"
                                value="{{appointment.time}}"
                              [(ngModel)]="appointment.time"
                              required>
                        </td>
                        </tr>


                        <tr>
                        <td>
                              <button type="submit" class="btn btn-outline-primary">
                              <i class="fas fa-plus"></i> Submit</button>
                        </td>

                        <td>
                              <a routerLink="/appointment/appointment-list" class="btn btn-outline-warning">
                              <i class="fas fa-undo"></i> Cancel</a>

                        </td>

                        </tr>
              </table>

          </form>

      </div>
  </div>
</div>
