<!-- Content for the Edit Page -->
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h1>{{ title }}</h1>

            <form class="form" (submit)="onMedicineDetailsSubmit()">
                <div class="form-group">
                    <label for="MedicineNameTextField">Medicine Name</label>
                    <input type="text" class="form-control"
                    id="MedicineNameTextField"
                    placeholder="Enter Medicine Name"
                    name="medicineName"
                    [(ngModel)]="medicine.medicineName"
                    value="{{ medicine.medicineName }}"
                    required>
                </div>

                <div class="form-group">
                  <label for="TypeTextField">Type</label>
                  <input type="text" class="form-control"
                  id="TypeTextField"
                  placeholder="Enter Type"
                  name="type"
                  [(ngModel)]="medicine.type"
                  value="{{ medicine.type }}"
                  required>
              </div>

                <div class="form-group">
                    <label for="DescriptionTextField">Description</label>
                    <input type="text" class="form-control"
                    id="DescriptionTextField"
                    placeholder="Enter Description"
                    name="description"
                    [(ngModel)]="medicine.description"
                    value="{{ medicine.description }}"
                    required>
                </div>

                <button type="submit" class="btn btn-primary">
                <i class="fas fa-edit"></i> {{ title }}</button>
                <a routerLink="/medicine/medicine-list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> Cancel</a>
            </form>


        </div>
    </div>
  </div>
