<!-- Student ID: 300984573
     Health Care Application
     Description: This html file will display the form to add and edit the medicines

-->
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h1>{{ title }}</h1>

            <form class="form" (submit)="onMedicineDetailsSubmit()">


                <table class="table">
                    <tr>
                      <td>
                          <label for="MedicineNameTextField">Medicine Name</label>
                      </td>
                      <td>

                           <input type="text" class="form-control"
                            id="MedicineNameTextField"
                             placeholder="Enter Medicine Name"
                            name="medicineName"
                             [(ngModel)]="medicine.medicineName"
                             value="{{ medicine.medicineName }}"
                             required>
                  </td>
                </tr>

                <tr>
                <td>
                    <label for="TypeTextField">Type</label>
                </td>

                <td>


                  <input type="text" class="form-control"
                  id="TypeTextField"
                  placeholder="Enter Type"
                  name="type"
                  [(ngModel)]="medicine.type"
                  value="{{ medicine.type }}"
                  required>


                </td>
              </tr>

              <tr>
              <td>
                  <label for="DescriptionTextField">Description</label>
              </td>

              <td>


                    <input type="text" class="form-control"
                    id="DescriptionTextField"
                    placeholder="Enter Description"
                    name="description"
                    [(ngModel)]="medicine.description"
                    value="{{ medicine.description }}"
                    required>
              </td>
              </tr>

              <tr>
                <td>
                <button type="submit" class="btn btn-outline-success">
                <i class="fas fa-plus"></i> {{ title }}</button>
                </td>


                <td>
                <a routerLink="/medicine/medicine-list" class="btn btn-outline-warning">
                    <i class="fas fa-undo"></i> Cancel</a>
                </td>

             </tr>

             </table>
            </form>


        </div>
    </div>
  </div>
